.course-header-container {
  background: #FFFFFF;
  padding: 0 0 0 32px;
  border-bottom: 1px solid #E0E0E0;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 100;
}

.course-header-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  height: 61px;
  box-sizing: border-box;
}

.course-name {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  display: flex;
  align-items: center;
}

